name: Deploy topics dev-gcp

on:
  push:
    branches:
      - master
jobs:
  deploy_topics:
    permissions:
      contents: "read"
      id-token: "write"
    name: 'Deploy topics'
    runs-on: ubuntu-latest
    steps:
      - name: 'Pull repo'
        uses: actions/checkout@v5

      - name: 'Deploy'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/topics/beholdning-endret-topic-q0.yaml,nais/topics/beholdning-endret-topic-q1.yaml,nais/topics/beholdning-endret-topic-q2.yaml,nais/topics/beholdning-endret-topic-q5.yaml,nais/topics/opptjening-endret-topic-q0.yaml,nais/topics/opptjening-endret-topic-q1.yaml,nais/topics/opptjening-endret-topic-q2.yaml,nais/topics/opptjening-endret-topic-q5.yaml