name: Monitor dependencies with Dependabot
on:
  schedule:
    - cron: '25 8,13 * * 1,2,3,4,5'
    - cron: '25 13 * * 0,6'
jobs:
  dependabot:
    name: Monitor dependencies with Dependabot
    runs-on: ubuntu-latest
    permissions: # The Dependency Submission API requires write permission
      contents: write
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v5

      - name: 'Setup Java'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: gradle

      - name: 'Generate and submit dependency graph'
        uses: gradle/actions/dependency-submission@v5
